/* header */

.header{
    background: url('../images/header_bg.jpg') center;
    background-size: cover;
    color: var(--white);
}

/* header__contacts */

.header__contacts{
    background: rgb(24, 23, 23);
    max-width: 100%;
    margin-bottom: 20px;
}

/* phone_number */

.phone_number{
    list-style: none;
    display: inline;
}

/* header__main */

.header__main{
    display: grid;
    grid-auto-flow: row;
}

@media(min-width: 768px){
    .header__main{
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-between;
    }
}

/* header__search */

.header__search{
    display: grid;
    grid-auto-flow: column;
    height: 50px;
}

/* header__search_input */

.header__search_input{
    height: 100%;
    border: transparent solid 2px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
    transition: 0.5s;
}

.header__search_input:focus{
    border: var(--button_color) solid 2px;
    border-right: none;
    outline: none;
    background: rgb(211, 230, 255);
}


/* header__search_button */

.header__search_button{
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-transform: uppercase;
    transition: 0.5s;
}

/* header__order_call */

.header__order_call{
}

/* header__interact */

.header__interact{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

/* cart__image */

.cart__image{
}



/* cart__image */

.cart__image{
    height: 30px;
    stroke: tomato;
}

/* header__menu--narrow */

.header__menu--narrow{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

@media(min-width: 768px){
    .header__menu--narrow{
        display: none;
    }
}

/* header__menu_button */

.header__menu_button{
}

/* header__menu */

.header__menu{
    
}

/* header__menu_list */

.header__menu_list{
    display: grid;
    grid-auto-flow: row;
}

@media(min-width: 768px){
    .header__menu_list{
        display: grid;
        grid-auto-flow: column;
    }
}

/* header__menu_item */

.header__menu_item{
    list-style: none;
}

/* header__menu_link */

.header__menu_link{
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
    transition: 0.5s;
}

.header__menu_link:hover{
    color: var(--button_color);
}