@import "variables.css";
@import "contacts.css";
@import "header.css";

@import "main.css";
@import "footer.css";


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    font-family: 'Open Sans',Helvetica, sans-serif;
    line-height: 1.5;
}

.container{
    /*max-width: 1200px;*/
    margin: 0px 200px;
}

.button{
    background: var(--button_color);
    color: var(--white);
    border: none;
}

.division_line{
    height: 1px;
    width: 100%;
    background: var(--borders_color);
    margin: 20px 0px;
}

.route_of_site{
    border: var(--borders_color) solid 1px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.route_of_site__link{
    text-decoration: none;
    margin: 0px 5px;
    color: black;
}

.route_of_site__link:hover{
    text-decoration: underline;
    color: var(--button_color);
}

.route_of_site__current{
    margin: 0px 5px;
}
