/* main */

.main{
    margin-top: 40px;
}

/* search_and_pictures */

.search_and_pictures{
    display: grid;
    grid-auto-flow: row;
    margin-bottom: 30px;
    column-gap: 30px;
}

@media(min-width: 768px){
    .search_and_pictures{
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 3fr;
        row-gap: 30px;
    }
}

/* search_details */
.search_details{
    height: 400px;
}

/* search_details_header */
.search_details__header{
    background: var(--dark_gray);
    color: var(--white);
    text-align: center;
    padding: 10px;
    border: none;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* search_details_form */
.search_details__form{
    padding: 10px;
    border: solid var(--borders_color) 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* search_details__select */
.search_details__select{
    width: 100%;
}

/* pictures_gallery */
.pictures_gallery{
    height: 500px;
    box-shadow: gray 0px 0px 1px 1px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    padding: 5px;
    position: relative;
}

.pictures_gallery:hover .pictures_gallery__arrow_left{
    left: 0px;
    opacity: 1;
}

.pictures_gallery:hover .pictures_gallery__arrow_right{
    right: 0px;
    opacity: 1;
}

/*pictures_gallery__arrow*/
.pictures_gallery__arrow{
    position: absolute;
    width: 100px;
    height: 50px;
    background: url('../images/right-chevron.png') 50% 50% no-repeat;
    top: 225px;
    opacity: 0;
    z-index: 5;
    transition: 1s;
}

/*pictures_gallery__arrow_left*/
.pictures_gallery__arrow_left{
    left: -100px;
    transform: rotateZ(180deg);
}

/*pictures_gallery__arrow_right*/
.pictures_gallery__arrow_right{
    right: -100px;
}

/* pictures_gallery__outer */
.pictures_gallery__outer{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* pictures_gallery__inner */
.pictures_gallery__inner{
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    transition: 1s;
}

/* pictire_gallery__link */
.pictire_gallery__link{
    display: block;
    height: 100%;
}

/* pictire_gallery__image */
.pictire_gallery__image{
    display: block;
    height: 100%;
}

/* 000 */
.cars_models{

}

/* 000 */
.cars_models{

}



/* cars_models */
.cars_models{

}

/* cars_models__pictures */
.cars_models__pictures{
    display: grid;
    grid-auto-flow: column;
    margin-bottom: 30px;
    height: 150px;
}

/* cars_models__single_picture_link */
.cars_models__single_picture_link{
    display: block;
    border: solid var(--borders_color) 1px;
    overflow: hidden;
    margin: 20px 0px 0px;
    transition: 0.5s;
}

.cars_models__single_picture_link:hover{
    margin: 0px 0px 20px;
    padding-bottom: 30px;
    box-shadow: 0px 20px 20px 1px gray;
}

.cars_models__single_picture_link + .cars_models__single_picture_link{
    display: block;
    border-left: 0.5px solid var(--borders_color);
}

/* cars_models__single_picture */
.cars_models__single_picture{
    display: block;
    width: 70%;
    margin: auto;
    transition: 0.5s;
}

.cars_models__single_picture:hover{
    margin-bottom: 20px;
}




/* cars_models__list */

.cars_models__list{
    margin-bottom: 30px;
}

/* car_models__brand */

.car_models__brand{
    margin-bottom: 15px;
}

/* cars_models__single_list */

.cars_models__single_list{
    display: grid;
    grid-template-columns: max-content;
    column-gap: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
}

@media(min-width: 768px){
    .cars_models__single_list{
    column-gap: 30px;
    grid-template-columns: repeat(3, max-content);
    justify-content: space-between;
    margin-bottom: 30px;
    padding-left: 20px;
    }
}

/* cars_models__list_item */

.cars_models__list_item{
    
}

/* catalogue__items */

.catalogue__items{
    display: grid;
    grid-auto-flow: row;
    column-gap: 20px;
    row-gap: 20px;
}

@media(min-width: 768px){
    .catalogue__items{
        grid-template-columns: repeat(4, 1fr);
    }
}

/* catalogue__single_item */

.catalogue__single_item{
    border: solid var(--borders_color) 1px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr max-content;
    overflow: hidden;
    margin-top: 30px;
    transition: 0.5s;
    box-shadow: gray 0px 0px 5px 1px;
}

.catalogue__single_item:hover{
    margin-top: 0px;
    margin-bottom: 30px;
    box-shadow: gray 0px 14px 24px 7px;
}

/* catalogue__single_item_picture_link */

.catalogue__single_item_picture_link{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 200px;
    transition: 2s;
}

/* catalogue__single_item_picture */

.catalogue__single_item_picture{
    display: block;
    margin: 0 auto;
    height: 200px;
    transition: 2s;
}

.catalogue__single_item_picture:hover{
    height: 120%;
}

/* catalogue__single_item_description */

.catalogue__single_item_description{
    background: rgb(225, 245, 255);
    padding: 15px;
}

/* catalogue__single_item_name */

.catalogue__single_item_name{
    display: block;
    margin-bottom: 30px;    
}

/* catalogue__single_item_price */

.catalogue__single_item_price{
    display: inline-block;
    font-weight: 700;
}

/* add_to_cart_button */

.add_to_cart_button{
    display: inline-block;
    float: right;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
}

/* catalogue__item_info */

.catalogue__item_info{
    
}